.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ActorList {
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ActorList li {
  max-width: 400px;
  margin: 5px;
  padding: 5px;
}

.ActorChip {
  display: block;
  background-color: grey;
}

.ActorChip span {
  display: inline-block;
  vertical-align: top;
}

.ActorChip .imgActor {
   width: 60px;
   height: 60px;
   background-color: slategrey;
}

.ActorChip .PropertyList span {
  display: block;
  margin: 1px;
  padding: 2px 0px 2px 5px;
}

.ActorChip .PropertyList input {
  width: 120px;
}